%h1 User#show

= @user.username
= image_tag @user.avatar(:square)

- if @user == current_user
  = link_to 'logout', destroy_user_session_path, method: :delete
  = link_to 'edit', edit_user_path(current_user)
